@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
}


.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.spinner {
  width: 70px;
  height: 70px;
  border: 6px solid #ccc;
  border-top-color: #00aaff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-text {
  margin-top: 15px;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* styles.css */
.btn-link {
  background-color: #3b82f6; /* azul */
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}

.btn-link:hover {
  background-color: #2563eb;
}

button {
  all: unset;
  cursor: pointer;
  display: inline-block;
}

.btn-filtrar{

  all: unset;
  cursor: pointer;
  display: inline-block;
  background-color: #000000; /* verde */
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}


.separar10pxArriba {
  margin-top: 10px;
}

.btn-cambios{

    background-color: #aabb17; 
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}

.btn-cancel{

    background-color: #9e220c; 
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}

.btn-green{

    background-color: #10b981; 
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}


.btn-red{

    background-color: #ef4444; 
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}

.btn-violet{

    background-color: #8b5cf6; 
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}


.tabla-gris {
  background-color: #f5f5f5 !important;
  border: 1px solid #d6d6d6 !important;
  color: #333 !important;
}

.tabla-gris thead {
  background-color: #e0e0e0 !important;
  color: #212121 !important;
}

.tabla-gris tbody tr:hover {
  background-color: #dcdcdc !important;
  transition: background-color 0.2s ease-in-out;
}